[langfuse]
# Get keys for your project from the project settings page: https://cloud.langfuse.com
langfuse_public_key = your_public_key_here
langfuse_secret_key = your_secret_key_here
# Choose one of the following hosts:
# langfuse_host = https://cloud.langfuse.com     # 🇪🇺 EU region (default)
langfuse_host = https://us.cloud.langfuse.com    # 🇺🇸 US region
